<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="dropdown-divider"></div>
<div class="row">
    <!-- <div class="col-md-12">
        <app-recipe-item 
        *ngFor="let recipeElm of recipes"
        [recipe]="recipeElm"
        (recipeSelected)="onRecipeSelected($event)"></app-recipe-item>
    </div> -->
    <div class="col-md-12">
        <app-recipe-item 
        *ngFor="let recipeElm of recipes"
        [recipe]="recipeElm"></app-recipe-item>
    </div>
</div>